@import url(fonts/JetBrainsMono-VariableFont_wght.ttf);
@import url('fonts/Nunito-VariableFont_wght.ttf');


/* should i set the margin and padding of everything to zero by default, or do i want the arbitrary defaults set by browsers? */
body * {
    /* voor testings effe */
    border: 1px solid purple;
}


body {
    margin: 0px;
    /* padding: 0px; */

    /* font-family: "JetBrains Mono", monospace; */
    font-family: "Nunito", sans-serif;
}

div.centeredWrapper {
    display: flex;
    justify-content: center;
}

div.resizableWidthWrapper {
    padding: 10px; 
    /* maybe different unit than px should be used */
    width: 70%;
}

#currentAge {
    font-family: 'JetBrains Mono', sans-serif;
}

.flexyTexty {
    display: flex;
    justify-content: center;
    flex-flow: wrap-reverse;
}


article.hideableChildrenNotHeader {
    cursor: pointer;
    border-bottom-width: 5px;
    border-color: transparent;
    /* transition: 1s; */
    padding-bottom: 1px;
    border-bottom-style: double;
    
}
article.hideableChildrenNotHeader:hover {
    border-color: aqua;
    /* transition: 1s; */
    padding-bottom: 1px;
    border-bottom-style: double;
}
        /* don't overlook the star ⬇️ selector */
article.hideableChildrenNotHeader * {
    pointer-events: inherit;
    cursor: inherit;
}

h1{
    color: chartreuse;
}

/* alle max-widths moeten  bij een smaller scherm breder zijn zodat het het hele scherm vult */
/* dat kan want al mijn flexbox overflows zijn hopelijk goed */
.leftmost {
    min-width: none;
    max-width: 58%;
    /* 2 percent extra in case of borders or margins or whatever */
}
.rightmost {
    margin: 0.5%;
    min-width: 40%;
    max-width: 40%;
    height: fit-content;
   
}
img.rightmost {
    max-width: 11cm;
}
.rightmost img {
    width: 2cm;
    /* dit moet ook zich aanpassen aan schermgrootte, met at-rules of is er een coolere wijze?? */
    height: fit-content;
}
.multiImage {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}







footer {
    display: flex;
    justify-content: center;
}