@import url('https://fonts.googleapis.com/css2?family=JetBrains');

* {
    margin: 0px;
    padding: 0px;
    color: white;
}

body {
    font-family: 'JetBrains Mono', monospace;
    font-family: Verdana, Helvetica, sans-serif;
    background: rgb(67, 64, 64);
}
.wrapper {
    margin: 0 auto 0 auto;
    width: 82%;
    position: relative;
    min-height: 100vmin;
}

header img {
    width: 100%;
}

a:link {
    color: darkblue;
}

a:visited {
    color: purple;
}

a:hover {
    color:darkred;
}

a:active {color: rebeccapurple;}

nav ul {
    background: rgb(20, 20, 20);
    padding: 10px;
}
nav ul li {
    background: #787878;
    padding: 5px;
    border: solid 2px white;
    display: inline-block;
    font-family: 'JetBrains Mono', monospace;
    font-weight:500;
    font-size: larger;
}

nav ul li a:link {
    color: white;
    text-decoration:none;
}
nav ul li a:visited {
    color: white;
    text-decoration:none;
}
nav ul li a:hover {
    color: darkred;
    text-decoration:none;
}
nav ul li a:active {
    color: red;
    text-decoration:none;
}

section {
    padding: 5px;
    margin: 5px;
    border: double 4px #787878;
    border-radius: 8px 8px 20px 20px;
    transition: 0.4s;
}
section:hover {
    border: double 4px white;
}
  
section article {
    border: 3px solid black;
    border-radius: 0px 20px 20px 20px;
    margin: 5px 10px 5px 10px;
    padding: 10px;
    background: #666666;
}
section article h1 {
    font-weight:800;
    font-variant-caps:petite-caps;
    border-bottom: dotted black;
}
section article h2 {
  font-weight:800;
  font-variant-caps:petite-caps;
  border-bottom: dotted black;
}

section article p {
  margin: 4px;
}

footer {
    background: black;
    position:absolute;
    bottom: 0%;
    border-radius: 15px 15px 0px 0px;
    width: 100%;
}
footer.lowerfoot {bottom: -40px;}

footer img {
    float:left;
    position:relative;
    height: 30px;
    left: 44%;
    transform: translate(-50%);
}

footer h5 {
    text-align: center;
    font-variant-caps:small-caps;
    position: relative;
}

#opdrachtenlijst {
    text-align: center;
}

#opdrachtenlijst ul {
    display: inline-block;
    text-align: left;
    list-style-type:none;
}
iframe#badges {
    width:100%;
    height:1080px;
    border-radius: 20px 20px 20px 20px;
    border: solid black;
}

